
<h1>Organisms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ncbi taxon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisms.each do |organism| %>
      <tr>
        <td><%= organism.full_name %></td>
        <td>TODO</td>
        <td><%= link_to 'Show', organism_path(organism.name) %></td>
        <td><%= link_to 'Edit', edit_organism_path(organism.name) %></td>
        <td><%= link_to 'Destroy', organism_path(organism.name), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organism', new_organism_path %>
