<h1 class="title">Organism: <%= @organism.full_name %> </h1>

<div class="tile">
    <strong>NCBI Taxonomy IDs: </strong>
    <ul>
      <% @organism.organism_taxa.each do |organism_taxon| %>
        <li><%= link_to organism_taxon.ncbi_taxon_id, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=#{organism_taxon.ncbi_taxon_id}" %></li>
      <% end %>
    </ul>
</div>

<hr/>
<h2 class="title">IGV Visualization:</h2>

<p id="config" class="invisible"><%= @config.to_json %></p>

<div id="igv" class="igv_div"></div>

<% unless @config[:variants_exist] %>
  <p>Variants will be shown once they are processed.</p>
<% end %>


<hr/>

<%= link_to 'Primer Sets', organism_primer_sets_path(@organism.slug) %>

<%= javascript_pack_tag "organisms_show" %>