<h1 class="title">Organism: <%= @organism.full_name %> </h1>

<div class="tile">
  <% taxa_count = @organism.organism_taxa.length %>
  <% i = 0 %>
  <% taxa_str = '' %>
  <% @organism.organism_taxa.each do |organism_taxon| %>
    <% taxa_str += link_to organism_taxon.ncbi_taxon_id, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=#{organism_taxon.ncbi_taxon_id}" %>
    <% if i < taxa_count-1 # don't put a comma after the last taxon %>
      <% taxa_str += ', ' %>
    <% end %>
    <% i += 1 %>
  <% end %>
  <span><strong>NCBI Taxonomy IDs:</strong> <%=raw taxa_str %></span>
</div>

<hr/>
<h2 class="title">IGV Visualization:</h2>

<p id="config" class="invisible"><%= @config.to_json %></p>

<div id="igv" class="igv_div"></div>

<% unless @config[:variants_exist] %>
  <p>Variants will be shown once they are processed.</p>
<% end %>


<hr/>

<ul>
  <li><%= link_to 'Primer Sets', organism_primer_sets_path(@organism.slug) %></li>
  <li><%= link_to 'Lineages', organism_lineages_path(@organism.slug) %></li>
  <li><%= link_to 'Lineage Variants', organism_lineage_variants_path(@organism.slug) %></li>
  <% if @organism.slug == 'sars-cov-2' %>
    <li><%= link_to 'Primer Variant Summary', organism_primer_variant_summary_url(@organism.slug) %></li>
  <% else %>
    <li>Primer Variant Summary - Coming Soon!<li>
  <% end %>
</ul>

<%= javascript_pack_tag "organisms_show" %>