
<h1 class="title">Lineages for <%= @organism.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Seen</th>
      <th>Times Seen</th>
    </tr>
  </thead>

  <tbody>
    <% @lineages.each do |lineage| %>
    <% next if lineage['name'] == "Unassigned" %>
      <tr>
        <td><a href="<%= organism_lineage_url(@organism.name, lineage['name']) %>"><%= lineage['name'] %></a></td>
        <td><%= lineage['last_seen'].nil? ? 'N/A' : lineage['last_seen'] %></td>
        <td><%= lineage['times_seen'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
