<h1 class="title"><%= @lineage.organism %> lineage <%= @lineage.name %> </h1>

<h3 class="title">Overview:</h3>

<p><span class="bold-text">Sequences seen:</span> <%= @lineage_info['times_seen'] %></p>
<br>

<p><span class="bold-text">First seen on:</span> <%= @lineage_info['first_seen'].nil? ? 'N/A' : @lineage_info['first_seen'] %></p>

<p><span class="bold-text">Last seen on:</span> <%= @lineage_info['last_seen'].nil? ? 'N/A' : @lineage_info['last_seen'] %></p>

<% unless @lineage.external_link.nil? %>
<br>
<p><span class="bold-text">More data:</span> <a href="<%= @lineage.external_link %>"><%= @lineage.external_link %></a></p>
<% end %>

<br>

<p><span class="bold-text">Note:</span> In the above data, "seen" refers to the date the sample was collected, unless that date was not provided for a sequence, in which case it refers to the date it was submitted to NCBI.</p>
