<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :email %>
    </div>
    <div class="control field-body">
      <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Resend instructions", class: 'button is-link' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
