<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="notification is-warning">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label 'Name' %>
    </div>
    <div class="control field-body">
      <%= form.text_field :first, placeholder: "First"%>
      <%= form.text_field :last, placeholder: "Last" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :email %>
    </div>
    <div class="control field-body">
      <%= form.text_field :email, size: 30 %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :password %>
    </div>
    <div class="control field-body">
      <%= form.password_field :password, placeholder: 'New password' %>
      <%= form.password_field  :password_confirmation, placeholder: 'Confirmation' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label "Send updates about primer variants" %>
    </div>
    <div class="control field-body">
      <%= form.check_box :send_primer_updates %>
    </div>
  </div>


  <%= form.submit "Save", class: 'button is-link'%>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class:"button is-link" %></td>

<% end %>
