<% content_for :head do %>
  <%= javascript_import_module_tag "lineage_variants" %>
<% end %>

<h1 class="title"><%= @organism.name %> Lineage Variant Summary</h1>

<% primer_sets_map = {} %>
<% default_tracks_map = {} %>
<% lineage_sets_map = {} %>
<% i = 0 %>
<div class="block">
  Primers that do not overlap with variants associated with these lineages are shown in blue below a schematic <%= @organism.name %> genome.
  Primers that overlap with enough sufficiently-frequent variants to be potentially impacted (see below) are indicated in orange.
  Relevant variants are shown in gray directly below the genome, above the primer sets.
  <br><br>
  <p>The score listed for a variant is the percent of sequences it occurs in for the selected lineage set.
  The score listed for a primer is determined by the scoring algorithm described below.</p>
</div>
<% if @data_fetched %>
<form id="primer_set_selection">
  <p>Lineage:</p>
  <div class="columns is-multiline is-gapless">
    <% @lineage_sets.each { |lineageSet, displayName| %>
      <div class="column is-one-fifth">
        <%= label_tag "lineage_set_"+i.to_s, class: 'lineage_set_radiobutton_label' do %>
          <span class="primer_display_name"><%= displayName %></span>
          <%= radio_button_tag "lineage", "lineage_set_"+i.to_s, (lineageSet == "all"), class: 'lineage_set_radiobutton', disabled: true %>
          <% lineage_sets_map["lineage_set_"+i.to_s] = [lineageSet, displayName] %>
          <% i+=1 %>
        <% end %>
      </div>
    <% } %>
  </div>
  <hr><p>Show primer sets:</p>
  <div class="columns is-multiline is-gapless">
  <% i = 0 %>
  <% @primer_sets.each { |primerSet, displayName| %>
    <div class="column is-one-fifth">
    <%= label_tag "primer_set_"+i.to_s, class: 'primer_set_checkbox_label' do %>
      <span class="primer_display_name"><%= displayName %></span>
      <%= check_box_tag "primer_set_"+i.to_s, 1, false, class: 'primer_set_checkbox', disabled: true %>
      <% primer_sets_map["primer_set_"+i.to_s] = [primerSet, displayName] %>
      <% default_tracks_map["primer_set_"+i.to_s] = @default_tracks.include? primerSet %>
      <% i+=1 %>
    <% end %>
    </div>
  <% } %>
  </div>
  <button id="select_all_primers" disabled="disabled">Select All</button> <button id="unselect_all_primers" disabled="disabled">Clear All</button>
  <br><br><button class="button is-small is-primary" id="apply" disabled="disabled">Update Tracks</button>
  <button class="button is-small" id="show_link">Shareable Link</button>
</form>
<div id="link_div_wrapper" class="invisible">
  <br>
  <div class="notification is-gray" id="link_div">
    <p>You can share your current selection of tracks using this link: <a href="" id="link"></a></p>
  </div>
</div>
<p id="primer_set_json" class="invisible"><%= primer_sets_map.to_json %></p>
<p id="default_tracks_json" class="invisible"><%= default_tracks_map.to_json %></p>
<p id="default_lineage" class="invisible"><%= @default_lineage %></p>
<p id="config" class="invisible"><%= @config.to_json %></p>
<p id="lineage_set_json" class="invisible"><%= lineage_sets_map.to_json %></p>
<div id="igv" class="igv_div"></div>
<% else %>
  <article class="message is-danger">
    <div class="message-body">
      <p>There was an error fetching the visualization data files, so the visualization cannot be displayed.</p>
    </div>
  </article>
<% end %>
<hr/>

<div class="block">
    <h2 class="title">Calculating variant impact:</h2>
  <p>Detailed methods for initial processing and analysis of sequences and
    primer sets are found in the Nextflow pipelines in our <a href="https://github.com/bwlang/primer_monitor">GitHub repository</a>.
  </p>
  <br>
  <p>To distinguish primers that are likely to be actually impacted from ones affected by a rare variant
    or a sequencing error, impact is determined by both the the number of times each variant appears
    in the data, and the number, length, and position of variants overlapping a primer.
    To eliminate sequencing errors and other low-frequency variants that will likely not have a significant
    impact on primers, a variant is only considered in the calculation if it occurs either in
    at least 1% of sequences (and no less than 10 sequences) in the dataset (after filtering by lineage).
    Primers are then scored based on the length and position of overlapping variants,
    and labeled as affected if this results in a sufficiently high score.
    To focus on recent mutations in the <%= @organism.name %> virus,
    only variants from the last <%= @organism.variant_bed_lookback_days %> days are considered.
  </p>
  <br>
  <p>The composite score for a primer is the sum of all overlapping variant scores. Variant scores are based on length,
    whether they are indels or mismatches, and position in the primer. Since long variants are more likely to disrupt
    primer binding, an exponentially-increasing length penalty is added. To account for variant position and indels,
    a flat multiplier is applied to the score for the relevant bases. Indels and variants 3-5 nt in from (but not at)
    the 3' end of a primer have the highest multipliers, as these traits empirically relate primer disruption.
    Variants ≤3 nt from the 5' end of the primer, or ≤2 nt from the 3' end have multipliers that reduce the score
    compared to the default for any other position.  We consider variants at these positions to be less likely to
    affect polymerase binding. For 5' variants, this is because it creates a flap on the 5' end, which interferes less
    with amplification. For variants at the 3' end, we assume that 3’-5’ exonuclease activity in commonly used
    polymerases can remove mismatched bases. While we attempt to model the observed effects of variants observed,
    it is likely imperfect. Proposed variant impacts should be assessed experimentally as we did in SARS-CoV-2 for
    <a href="https://www.medrxiv.org/content/10.1101/2021.12.16.21267734v1">early omicron</a>,
    <a href="https://www.biorxiv.org/content/10.1101/2023.01.26.525759v1">BQ.1 associated variation </a> and
    <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0259610">more generally for LAMP applications</a>
  </p>
</div>
<hr>
<div>
</div>
