
<% if @current_user %>
  <ul>
    <% if can? :show, current_user %>
      <li><%= link_to "Status", user_path(current_user) %></li>
    <% end %>
    <% if can? :index, Sample %>
      <li><%= link_to "Samples", samples_path %></li>
    <% end %>
    <% if can? :index, Experiment %>
      <li><%= link_to "Experiments", experiments_path %></li>
    <% end %>
    <% if can? :index, User %>
      <li><%= link_to "Participants", users_path %></li>
    <% end %>
    <% if can? :create, Sample %>
      <li><%= link_to "Submit Sample", new_sample_path %></li>
    <% end %>
  </ul>
<% else %>
  <div>
    Please <%= link_to 'log in', new_user_sessions_path %> or scan a sample barcode to continue.
  </div>
<% end %>

