<article class="message is-small">
  <div class="message-header">
    <p>Welcome!</p>
  </div>
  <div class="message-body">
    This system continually monitors registered primer sets for overlapping variants in sequences from
    <a href="https://www.ncbi.nlm.nih.gov/genbank/">NCBI GenBank®</a>.
    <%= link_to "Logged in", new_user_session_path %> users can propose new primer sets and subscribe for notifications.
  </div>
</article>

<h1 class="title is-4 is-spaced">Organisms Overview</h1>

<hr>
<div class="columns">

  <% i=0 %>

  <% Organism.all.each do |organism| %>
      <% if i%3 == 0 # start a new row every 3 %>
        </div>
        <hr>
        <div class="columns">
      <% end %>
      <div class="column">
        <h1 class="subtitle"><%= organism.name %></h1>
        <aside class="menu">
          <p class="menu-label">
            Tools
          </p>
          <ul class="menu-list">
            <li><a href="<%= organism_url(organism.slug) %>">Overview</a></li>
            <li><a href="<%= organism_primer_sets_url(organism.slug) %>">Primer Sets (<%=PrimerSet.where(organism_id: organism.id).count %>)</a></li>
            <li><a href="<%= organism_lineages_url(organism.slug) %>">Lineages (<%=Lineage.where(organism_id: organism.id).count %>)</a></li>
            <li><a href="<%= organism_lineage_variants_url(organism.slug) %>">Lineage Variants</a></li>
            <li>
              <% if organism.slug == 'sars-cov-2' %>
                <a href="<%= organism_primer_variant_summaries_url(organism.slug) %>">Primer Variant Summary</a>
              <% else %>
                <a class="is-disabled">Primer Variant Summary - Coming Soon!</a>
              <% end %>
                </li>
          </ul>
        </aside>
        <% i=i+1 %>
      </div>
  <% end %>
</div>


