<%= form_with(model: primer_set, local: true) do |form| %>
    <% if primer_set.errors.any? %>
    <div class="notification is-warning">
      <h2><%= pluralize(primer_set.errors.count, "error") %> prohibited this primer set from being saved:</h2>
      <ul>
        <% primer_set.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :name %>
    </div>
    <div class="control field-body">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label 'Amplification method' %>
    </div>
    <div class="control field-body">
      <%= form.collection_select :amplification_method_id, AmplificationMethod.all, :id, :name, prompt: true  %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label 'Sources' %>
    </div>
    <div class="control field-body">
      <%= form.text_field :citation_url,maxlength: 255, size: 30, placeholder: 'URL' %>
      <%= form.text_field :doi, maxlength: 255, size: 30, placeholder: 'doi'%>
    </div>
  </div>

  <% if can? :confirm, PrimerSet %>
    <div class="field is-horizontal">
      <div class="field-label">
        <%= form.label :status %>
      </div>
      <div class="control field-body">
        <%= form.select :status, PrimerSet.statuses.keys %>
      </div>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :organism %>
    </div>
    <div class="control field-body">
      <%= form.select :organism_id, options_from_collection_for_select(Organism.all, :id, :name)  %>
      <% if can? :create, Organism %>
        <%= link_to new_organism_path do %>
          <%= image_tag("add_icon.svg", alt: 'add organism',class: 'icon')%>
        <% end %>
      <% end %>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <h4 class="subtitle is-4">Oligos</h4>
      <div id="samples">
        <%= form.fields_for :oligos do |es| %>
          <%= render 'oligo_fields', f: es %>
        <% end %>
        <p id="add-new">
          <%= link_to_add_association 'Add Oligo', form, :oligos, class:'button' %>
        <div class="file" id="fasta_div">
          <label class="file-label" id="fasta_upload_label">
            <input class="file-input" type="file" name="fasta" id="fasta_upload">
            <span class="file-cta white-button">
              <span class="file-label">
                Upload FASTA...
              </span>
            </span>
          </label>
        </div>
        </p>
      </div>
    </div>
  </section>

  <div class="actions">
    Note: after processing, submitted primer sets will appear on the public primer sets page.
    <br>
    <%= form.submit class: 'button is-link'%>
  </div>
<% end %>

<%= javascript_pack_tag "primer_sets" %>