<div class='nested-fields is-horizontal'>
  <div class="field-body is-horizontal mx-1">
    <%= f.text_field :name, placeholder: "Oligo name", size: 12 %>
    <%= f.text_field :short_name, placeholder: "Short name", size: 10, maxlength:5 %>
    <%= f.text_field :locus, placeholder: "locus (e.g. N1)", size: 12 %>
    <%= f.text_field :sequence, placeholder: "DNA sequence (GCAT)", maxlength: 40 %>
    <%= f.select :category, Oligo.categories.keys, prompt: 'Select' %>

    <%= link_to_remove_association f do %>
      <%= image_tag("remove_icon.svg", alt: 'remove oligo',class: 'icon')%>
    <% end %>
  </div>
</div>
