<h1 class="title">Organism: <%= @organism.full_name %> </h1>


<div class="tile">
  <strong>NCBI Taxonomy IDs:&nbsp;</strong>
  <% taxa_count = @organism.organism_taxa.length %>
  <% i = 0 %>
  <% taxa_str = '' %>
  <% @organism.organism_taxa.each do |organism_taxon| %>
    <% taxa_str += link_to organism_taxon.ncbi_taxon_id, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=#{organism_taxon.ncbi_taxon_id}" %>
    <% if i < taxa_count-1 # don't put a comma after the last taxon %>
      <% taxa_str += ',&nbsp;' %>
    <% end %>
    <% i += 1 %>
  <% end %>
  <%= raw taxa_str %>
</div>

<hr/>
<h2 class="title">Primer Sets:</h2>

<table>
  <thead>
  <tr>
    <th data-priority="4">Amp. Method</th>
    <th data-priority="1">Primer Set</th>
    <th data-priority="2">Source</th>
    <th data-priority="3">FASTA</th>
    <th data-priority="3">BED</th>
    <th data-priority="1">Subscription</th>
  </tr>
  </thead>

  <tbody>
  <% @organism.primer_sets.accessible_by(Ability.new(current_user)).each do |primer_set| %>
    <tr>
      <td><%= link_to primer_set.amplification_method.name, primer_set.amplification_method.description_url %></td>
      <td><%= link_to primer_set.name, primer_set_path(primer_set) %></td>
      <td>
        <% if primer_set.display_url %>
          <%= link_to 'Source', primer_set.display_url %>
        <% end %>
      </td>
      <% if @primer_sets.key? primer_set.name %>
        <td><a href="<%= "#{@config[:data_server]}/#{@config[:organism_slug]}/primer_sets_fasta/#{@primer_sets[primer_set.name]}.fasta" %>">Download FASTA</a></td>
        <td><a href="<%= "#{@config[:data_server]}/#{@config[:organism_slug]}/primer_sets_bed/#{@primer_sets[primer_set.name]}.bed" %>">Download BED</a></td>
      <% else %>
        <td>Pending</td>
        <td>Pending</td>
      <% end %>
      <td>
        <%= render '/primer_sets/primer_set_subscription', user: current_user, primer_set: primer_set, primer_set_subscription: @subscriptions[primer_set.id] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Primer Set', new_primer_set_path %>