<h1 class="title">Primer Sets</h1>

<table>
  <thead>
  <tr>
    <th data-priority="4">Amp. Method</th>
    <th data-priority="1">Set Name</th>
    <th data-priority="2">Source</th>
    <th data-priority="4">Organism</th>
    <th data-priority="3">Oligos</th>
    <th data-priority="1">Subscription</th>
  </tr>
  </thead>

  <tbody>
  <% @primer_sets.each do |primer_set| %>
    <tr>
      <td><%= link_to primer_set.amplification_method, primer_set.amplification_method.description_url %></td>
      <td><%= link_to_if can?(:show, primer_set), primer_set.name, primer_set %></td>
      <td>
        <% if primer_set.display_url %>
          <%= link_to 'Source', primer_set.display_url %>
        <% end %>
      </td>
      <td><%= link_to primer_set.organism, primer_set.organism %></td>
      <td><%= primer_set.oligos.join(", ") %></td>
      <td>
        <%= render 'primer_set_subscription',
                   user: current_user,
                   primer_set: primer_set,
                   primer_set_subscription: @subscriptions[primer_set.id] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primer Set', new_primer_set_path %>
