<p id="notice"><%= notice %></p>

<h1>Primer Sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primer_sets.each do |primer_set| %>
      <tr>
        <td><%= primer_set.name %></td>
        <td><%= primer_set.creator_id %></td>
        <td><%= link_to 'Show', primer_set %></td>
        <td><%= link_to 'Edit', edit_primer_set_path(primer_set) %></td>
        <td><%= link_to 'Destroy', primer_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primer Set', new_primer_set_path %>
