<h1 class="title">Primer Set: <%= @primer_set.name %> </h1>
<div class="tile">
  <div class="tile is-parent">
    <div class="tile box is-child">
    <strong>Organism: </strong>
    <%= link_to @primer_set.organism, @primer_set.organism %>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile box is-child">
    <strong>Amp. Method: </strong>
    <%= link_to @primer_set.amplification_method, @primer_set.amplification_method.description_url %>
    </div>
  </div>
  <% if @primer_set.display_url %>
    <div class="tile is-parent">
      <div class="tile box is-child">
      <strong> Source: </strong>
          <%= link_to @primer_set.display_url, @primer_set.display_url %>
      </div>
    </div>
  <% end %>
  <% if can?(:confirm, PrimerSet) %>
    <div class="tile is-parent">
      <div class="tile box is-child">
      <strong>Status: </strong>
      <%= @primer_set.status %>
      </div>
    </div>
  <% end %>
  <% if can?(:edit, @primer_set.user) %>
    <div class="tile is-parent">
      <div class="tile box is-child">
        <strong>Creator: </strong>
        <%= @primer_set.user %>
      </div>
    </div>
  <% end %>


  <div class="tile is-parent">
    <div class="tile  is-child">
    <%= render 'primer_set_subscription',
               user: current_user,
               primer_set: @primer_set,
               primer_set_subscription: @primer_set.subscription_for_user(current_user) %>
    </div>
  </div>
</div>

<hr/>
<h2 class="title">IGV Visualization:</h2>

<p id="config" class="invisible"><%= @config.to_json %></p>

<% if @primer_set.status == PrimerSet.statuses[:complete] %>

<div id="igv" class="igv_div"></div>

<% else %>

<p class="igv-message">
  This primer set has not yet been processed for the igv.js visualization. Processing should be complete shortly after it is approved and made public.
</p>

<% end %>

<hr/>

<% if @primer_set.status == PrimerSet.statuses[:complete] && @config.key?('primer_set_name') %>

<a href="<%= "#{@config[:data_server]}/#{@config[:organism_slug]}/primer_sets_bed/#{@config['primer_set_name']}.bed" %>">Download Primer Set BED</a>
<br>
<a href="<%= "#{@config[:data_server]}/#{@config[:organism_slug]}/primer_sets_fasta/#{@config['primer_set_name']}.fasta" %>">Download Sequence FASTA</a>


<hr/>

<% end %>

<h2 class="title">Primers:</h2>
<table>
  <thead>
  <tr>
    <th data-priority="1">Name</th>
    <th>Locus</th>
    <th>Category</th>
    <th data-priority="2">Sequence</th>
  </tr>
  </thead>

  <tbody>
  <% @primer_set.oligos.each do |oligo| %>
    <tr>
      <td><%= link_to_if can?(:edit, oligo), oligo.name, edit_oligo_path(oligo) %></td>
      <td><%= oligo.locus %></td>
      <td><%= oligo.category %></td>
      <td><%= oligo.sequence %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<% if can? :edit, @primer_set %>
  <%= link_to 'Edit', edit_primer_set_path(@primer_set) %> |
<% end %>
<%= link_to 'All Primer Sets', primer_sets_path %>

<%= javascript_pack_tag "primer_sets_show" %>