<%= form_with(model: oligo, local: true) do |form| %>
  <% if oligo.errors.any? %>
    <div class="notification is-warning">
      <h2><%= pluralize(oligo.errors.count, "error") %> prohibited this oligo from being saved:</h2>

      <ul>
        <% oligo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :name %>
    </div>
    <div class="control field-body">
      <%= form.text_field :name %>
      <%= form.text_field :short_name, maxlength: 5, size: 12, placeholder: 'Short Name' %>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :locus %>
    </div>
    <div class="control field-body">
      <%= form.text_field :locus, size: 12 %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :category %>
    </div>
    <div class="control field-body">
      <%= form.select :category, Oligo.categories.keys, prompt: 'Select' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :sequence %>
    </div>
    <div class="control field-body">
      <%= form.text_field :sequence, placeholder: "DNA sequence (GCAT)", maxlength: 50 %>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label 'Reference Position' %>
    </div>
    <div class="control field-body">
      <%= form.number_field :ref_start, placeholder: 'ref start', size: 10 %>
      -
      <%= form.number_field :ref_end, placeholder: 'ref end', size: 10 %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
