
<p>
  <strong>Name:</strong>
  <%= @oligo.name %>
</p>

<p>
  <strong>Locus:</strong>
  <%= @oligo.locus %>
</p>

<p>
  <strong>Category:</strong>
  <%= @oligo.category %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @oligo.sequence %>
</p>

<p>
  <strong>Reference Positions:</strong>
  <ul>
    <% @oligo.oligo_alignment_positions.each do |pos| %>
      <li><%= pos.organism_taxon.name %> (<%= pos.organism_taxon.reference_accession %>): <%= pos.ref_start %> - <%= pos.ref_end %></li>
    <% end %>
  </ul>
</p>
<hr/>

<%= link_to 'Edit', edit_oligo_path(@oligo) %> |
<%= link_to 'Back', oligos_path %>
