
<p>
  <strong>Name:</strong>
  <%= @oligo.name %>
</p>

<p>
  <strong>Locus:</strong>
  <%= @oligo.locus %>
</p>

<p>
  <strong>Category:</strong>
  <%= @oligo.category %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @oligo.sequence %>
</p>

<p>
  <strong>Reference Position:</strong>
  <%= @oligo.ref_start %> - <%= @oligo.ref_end %>
</p>
<hr/>

<%= link_to 'Edit', edit_oligo_path(@oligo) %> |
<%= link_to 'Back', oligos_path %>
