<!DOCTYPE html>
<html>
<head>
  <title>Primer Monitor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="AWnkeglB0upQ0LFdvIFEDSHkq4LvF1MHm2i1ZEynEXE"/>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag "appMainLogo.svg", alt: "Primer Monitoring Tool", height: '30' %>
    <% end %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <% sarscov2 = Organism.find_by(slug: 'sars-cov-2').name %>

      <% Organism.where(public:true).each do |organism| %>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"><%=organism.name%></a>
          <div class="navbar-dropdown">
            <%= link_to 'Organism', organism_url(organism.slug), class: 'navbar-item' %>
            <hr class="navbar-divider">
            <%= link_to 'Lineages', organism_lineages_url(organism.slug), class: 'navbar-item' %>

            <%= link_to 'Lineage Variants', organism_lineage_variants_path(organism.slug), class: 'navbar-item' %>

            <% if organism.slug == 'sars-cov-2' %>
              <%= link_to 'Primer Variant Summary', organism_primer_variant_summaries_url(organism.slug), class: 'navbar-item' %>
            <% else %>
              <span class="navbar-item">Primer Variant Summary - Coming Soon!</span>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= link_to 'About', about_path, class: 'navbar-item' %>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons is-size-7">
          <% if current_user %>
            Logged in as:
            <%= link_to current_user.login, edit_user_registration_path(current_user), class: 'navbar-item' %>
            <%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: 'button is-link is-small' %>
          <% else %>
            <%= link_to 'Create Account', new_registration_path('user'), class: 'button is-link is-small' %>
            <%= link_to 'Log in', new_user_session_path, class: 'button is-link is-small' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    <div class="has-text-danger"><%= flash[:error] %></div>
    <div class="has-text-warning"><%= flash[:warning] %></div>
    <div class="has-text-info"><%= flash[:notice] %></div>
    <%= yield %>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <div class="level">
      <p class="level-item has-text-centered">
        <a href="/about" class="tool-footer-link">
          <%= image_tag "NEBtools_about_footer_icon.svg", class: 'tool-footer-link-img' %> ABOUT THIS TOOL
        </a>
      </p>
      <p class="level-item has-text-centered">
        <a href="/history" class="tool-footer-link">
          <%= image_tag "NEBtools_history_footer_icon.svg", class: 'tool-footer-link-img' %> HISTORY
        </a>
      </p>
      <p class="level-item has-text-centered">
        <a href="https://www.neb.com/tools-and-resources/interactive-tools" class="tool-footer-link">
          <%= image_tag "NEBtools_footer_icon.svg", class: 'tool-footer-link-img' %> ALL TOOLS
        </a>
      </p>
      <p class="level-item has-text-centered">
        <a href="https://www.neb.com/support/neb-technical-support" class="tool-footer-link">
          <%= image_tag "NEBtools_TS_footer_icon.svg", class: 'tool-footer-link-img' %> TECH SUPPORT
        </a>
      </p>
    </div>
    <div class="tool-footer-copyright">
      <small>&copy; Copyright 2021 New England Biolabs. All Rights Reserved.</small>
      <br/>
      <small> SARS-CoV-2 and RSV sequences used are available from NCBI GenBank®.
      </small>
    </div>
  </div>
</footer>
</body>
</html>
