<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label 'Name' %>
    </div>
    <div class="control field-body">
      <%= f.text_field :first, placeholder: "First"%>
      <%= f.text_field :last, placeholder: "Last" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :email %>
    </div>
    <div class="control field-body">
      <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    </div>
  </div>

  <div class="field is-horizontal">
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :password %>

    </div>
    <div class="control field-body">
      <%= f.password_field :password, placeholder: 'New password', autocomplete: 'new-password' %>
      <%= f.password_field  :password_confirmation, placeholder: 'Confirmation', autocomplete: 'new-password' %>
      <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :current_password %>
    </div>
    <div class="control field-body">
      <%= f.password_field :current_password, placeholder: 'Current password', autocomplete: 'current-password' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label "Send updates about primer variants" %>
    </div>
    <div class="control field-body">
      <%= f.check_box :send_primer_updates %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Update", class: 'button is-link' %>
  </div>
<% end %>


<%= link_to "Back", :back %>
