<h2 class='title'>User Details</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="notification is-warning">
      Currently awaiting confirmation for: <%= resource.unconfirmed_email %><br/>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label 'Name' %>
    </div>
    <div class="control field-body">
      <%= f.text_field :first, placeholder: "First"%>
      <%= f.text_field :last, placeholder: "Last", size: 30 %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :email %>
    </div>
    <div class="control field-body">
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', size: 30 %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :password %>
    </div>
    <div class="control field-body">
      <%= f.password_field :password, placeholder: 'New password', autocomplete: 'new-password' %>
      <%= f.password_field  :password_confirmation, placeholder: 'Confirmation', autocomplete: 'new-password' %>
      <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :current_password %>
    </div>
    <div class="control field-body">
      <%= f.password_field :current_password, placeholder: 'Current password', autocomplete: 'current-password' %>
      <i>(required to change password)</i>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update User Details", class: 'button is-link' %>
  </div>
<% end %>
<hr/>

<h2 class="title">Subscriptions</h2>

<% if current_user.primer_sets.length > 0 %>
  <div class="field is-horizontal">
    <div class="field-label">
      Subscribed primer sets
    </div>
    <div class="control field-body">
      <% current_user.primer_sets.each do |ps|  %>
        <%=link_to ps, ps %>
        <%= render '/primer_sets/primer_set_subscription',
                   user: current_user,
                   primer_set: ps,
                   primer_set_subscription: ps.subscription_for_user(current_user)
        %>
      <% end %>
    </div>
  </div>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'subscription_form', method: :put }) do |f| %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label "Email variant updates (feature under active development)" %>
    </div>
    <div class="control field-body">
      <%= f.check_box :send_primer_updates %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      Subscribed locations
    </div>
    <div class="control field-body">
      <%=f.select :subscribed_detailed_geo_location_alias_ids,
                  options_from_collection_for_select(DetailedGeoLocationAlias.subscribable,
                                                     :id, :name, current_user.subscribed_detailed_geo_location_alias_ids),
                  {include_blank: true} ,
                  class: 'select2', style: 'width: 500px;', multiple: true
      %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      Notify about variants observed within the last...
    </div>
    <div class="control field-body">
      <%= f.select :lookback_days, { '1 week': 7, '1 month': 30, '3 months': 90, 'all time': 2147483647 },
                   { prompt: 'Time period' },
                   { required: true, style: 'width: 120px'}%>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      Notify about variants that rise above this fraction
    </div>
    <div class="control field-body">
      <%= f.number_field :variant_fraction_threshold, in: 0..1, step: 0.01, title: '(num_variants/sequences_in_geo_location)'%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save Subscription Changes", class: 'button is-link' %>
  </div>
<% end %>

<%= link_to "Back", :back %>
